<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DEFAULT_PATTERN" value="%d{dd MMM yyyy HH:mm} %5p %c : %m%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${DEFAULT_PATTERN}</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>